<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= book.title %> ">
</div>
<div>
    <label>Author</label>
    <select name="author">
        <% authors.forEach( author => { %>
            <% if (author.id === book.author) { %> 
            <option selected label="<%= author.name %>" value="<%= author.id %>"></option>
            <% } else { %> 
            <option selected label="<%= author.name %>" value="<%= author.id %>"></option>
            <% } %> 
        <% }) %>     
    </select>
</div>
<div>
    <label>Publish Date</label>
    <input type="date" name="publishDate" value="<%= book.publishDate == null ? "" : book.publishDate.toISOString().split('T')[0] %>">
</div>
<div>
    <label>Page Count</label>
    <input type="number" name="pageCount" min='1' value="<%= book.pageCount %>">
</div>
<div>
    <label>Cover</label>
    <input type="file" name="cover" class="filepond">
</div>
<div>
    <label>Description</label>
    <textarea name="description"><%= book.description %> </textarea>
</div>
