<h2>Search Books</h2>

<form method="GET" action="/books">
  <div>
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>"/>
  </div>
  <div>
    <label>Published After</label>
    <input type="Date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>"/>
  </div>
  <div>
    <label>Published Before</label>
    <input type="Date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>"/>
  </div>
  <button type="submit">Search</button>
</form>

<br>

<% books.forEach( book =>{ %>
  <a href="/books/<%= book.id %>">
    <img height='150' width="100" src="<%= book.coverImagePath %> " alt="cover_image">
  </a>
<%})%>
