<h2><%= book.title %></h2>
<img width=100 height=150 src="<%= book.coverImagePath %>" alt="cover_image">
<div>Author : <%= book.author.name %></div>
<div>Published Date : <%= book.publishDate.toDateString() %></div>
<div>Page Count : <%= book.pageCount %></div>
<div>Description : <%= book.description %></div>

<a href="/books/<%= book.id %>/edit">Edit</a>
<%- include("../partials/deleteForm", {url:`/books/${book.id}`}) %> 
<a href="/authors/<%= book.author.id %>">View Author</a>