<header>
  <nav>
    <a href="/">Mybrairy</a>
    <ul>
      <li><a href="/authors">All Authors</a></li>
      <li><a href="/authors/new">New Author</a></li>
      <li><a href="/books">All Books</a></li>
      <li><a href="/books/new">New Books</a></li>
    </ul>
  </nav>
</header>
