<h2>
    Recently Added
</h2>

<% books.forEach( book =>{ %>
    <a href="/books/<%= book.id %>">
        <img height='150' width="100" src="<%= book.coverImagePath %> " alt="cover_image">
    </a>
<%})%>
  