<h2>Search Authors</h2>

<form method="GET" action="authors">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>"/>
  <button type="submit">Search</button>
</form>

<br>

<% authors.forEach( author =>{ %>

  <div><%= author.name %></div>
  <a href="/authors/<%= author.id %> ">View</a>
  <a href="/authors/<%= author.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm.ejs', {url: `/authors/${author.id}`}) %> 

<%})%>
